name: Pipeline CI - Sistema Bancario

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch: # Botão para rodar manualmente se precisar

jobs:
  # JOB 1: Testes Unitários
  build-e-testes:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do código
      uses: actions/checkout@v3

    - name: Configurar JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    # ADICIONADO: O comando que realmente testa seu código
    - name: Rodar Testes com Maven
      run: mvn clean verify

  # JOB 2: Docker
  construir-imagem-docker:
    needs: build-e-testes  
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Login do Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }} # Testando docker username
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build e Push da Imagem
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # IMPORTANTE: Troque 'seu-usuario' pelo seu User real do Docker Hub
          tags: ${{ secrets.DOCKER_USERNAME }}/fintech-api:latest
                ${{ secrets.DOCKER_USERNAME }}/fintech-api:${{ github.sha }}